---
title: Some page
title_tag: "Custom SEO title"
meta_description: "Custom meta description"
---

<div data-controller="hello">
    
  <h1 class="text-red-500" 
      data-hello-target="something">
    Some page
  </h1>

</div>
