<!doctype html>
<html>
  <head>
    <%= partial "global-partials/head" %>
  </head>
  <body>

    <%= partial "global-partials/header" %>

    <%= yield %>

    <%= partial "global-partials/footer" %>

  </body>
</html>
