---
title: Home
title_tag: "Thready"
meta_description: "Custom meta description"
meta_image: "custom_meta_image.jpg"
---

<div data-controller="hello">
    
  <h1 class="text-yellow-500" 
      data-hello-target="something">
    Middleman is Runningggddd
  </h1>

  <%= image_tag "meta/og-image.jpg" %>

  <%= site_url %>
  <%= site_title %>

</div>
